.wrapper{
    background-color: #eff0f5;
    margin: 0 auto;
    max-width: 100%;
    padding: 140px 0  40px 0;
    /* padding-top: 140px; */
}
.wrapper h2{
    text-align: center;
    margin-bottom: 3%;
}
.wrapper a{
    display: flex;
    justify-content: flex-end;
    /* float: right; */
    margin-right: 6%;
    text-decoration: none;
}
.body{
    /* background-color: #eff0f5; */
    margin: 2px 30px 110px 30px;
    background-color: #fff;
    padding: 15px;

}
.body .body-content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    /* width: 100%; */
}
table{
    padding: 20px 10px;
    border-collapse: collapse;
    width: 100%;
    /* text-align: center; */
}
td{
    padding: 10px 15px;
    margin: 50px;
    /* text-align: center; */
}   
tr:hover{
    background-color: #ececec;
}
/* ------------------------------------------- */
#tble td input{
    width: 100%;
    outline: none;
    padding: 5px;
}
#tble td button{
    color: #fff;
    background-color: #28a745;
    border: #13491f;
    /* outline: none; */
    padding: 5px 25px;
    border-radius: 4px;
}
