*{
    margin: 0;
    padding: 0;
}

/* ----------------HEADER----------------------- */
li{
    list-style: none;
}
body{
    font-family: Helvetica,Tahoma,Arial,Sans-serif;
    /* font-size: 20px; */
}
/* a:hover{
    color: #f95031;
} */
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffff;
    /* border-bottom: 1px solid #cacaca; */
    padding: 3px 15px;
    font-size: 20px;
    position: fixed;
    width: 100%;
}
.header-content a:hover{
    color: #f95031;
}
.header-content ul{
    display: flex;
    flex-direction: row;
}
.feature-content{
    display: flex;
    flex-wrap: wrap;
}
.header-content a{
    text-decoration: none;
    color: #252f7b;
    font-size: 20px;
    padding: 0 10.6px;
}
.setting-content{
    padding-right: 15px;
}
/* ---------------------FOOTER------------------------ */
.footer-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 255, 255);
    /* border-bottom: 1px solid #cacaca; */
    padding: 25px 0;
}
.footer-content .social-content b{
    margin: 0 0 0 45px;
}
.footer-content .social-content ul{
    display: flex;
    justify-content: flex-start;
}
.footer-content .social-content a{
    /* font-size: 40px; */
    padding: 0px 5px 0px 6px;
    margin: 0 0px 0 5px;
}
.social-content .social-platform{
    margin: 10px 190px 0 40px;
}
/* .social-content .social-content{
    margin: 2%;
} */
.copy-right p{
    color: #0000;
    margin-right: 30px;
}
